<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/play.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <title>Document</title>
</head>
<body> 
    <div id="app">
        <div v-bind:class="backgroundColour" id="main-bg"> </div>
        <div class="topnav">
            <a id="home-nav" href="play.html">Home</a>
            <a class="active" href="play.html">Play</a>
            <a href="setup.html">Setup</a>
        </div>

        <div class="dropdown">
            <button id="getAllButton" v-on:click="getAllProfiles" class="btn btn-primary">Profiles</button>
            <div class="dropdown-content">
                <a href="#" v-for="profile in profiles" v-on:click="genreColourGetAndShow(profile)">{{profile}}</a>
            </div>

        </div>
        <!--<button id="getAllButton" v-on:click="getAllProfiles" class="btn btn-primary">Profiles</button>
                    <li v-for="profile in profiles" v-on:click="genreColourGetAndShow(profile)" class="btn btn-primary">
                        {{profile}}
                        </li>
                    </ul>-->

        <div>
            <div id="music-input">
                <input v-model="artist" type="text" placeholder="Artist" name="artist" id="artist">
                <input v-model="track" type="text" placeholder="Song" name="song" id="song">
                <button class="btn btn-primary" id="submit-button" v-on:click="getByArtistAndTrack(artist, track)">Get song</button>
            </div>
            <div v-if="error" style="color: red">{{error}}</div>
            
            <ul v-if="searchedTrack != null">
                <li type="text" v-for="currentTrack in searchedTrack.track">{{currentTrack.strArtist}}</li>
                <li v-for="currentTrack in searchedTrack.track">{{currentTrack.strTrack}}</li>
                <li v-for="currentTrack in searchedTrack.track">{{currentTrack.strGenre}}</li>
                <li v-for="currentTrack in searchedTrack.track">{{currentTrack.strMusicVid}}</li>
            </ul>
        </div>
    </div>
    <script src="js/play.js"></script>
</body>
</html>
