<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js"></script>
    <link rel="stylesheet" href="css/setup.css">
    <script src="https://unpkg.com/vue@next"></script>
    <title>Setup</title>
</head>

<body> 
    <div id="app">
        <div class="topnav">
            <a id="home-nav" href="play.html">Home</a>
            <a href="play.html">Play</a>
            <a class="active" href="setup.html">Setup</a>
        </div>
        <div id="profile-input">
            <input type ="text" placeholder="New Profile"  v-model="newProfileName"/>
            <button v-on:click="saveProfileName" class="btn btn-primary">Create</button>
            <input v-model="deleteProfile" placeholder="Delete">
            <button v-on:click="deleteProfileName" class="btn btn-warning">Delete</button>
        </div>


        
        <div class="dropdown">
            <button id="getAllButton" v-on:click="getAllProfiles" class="btn btn-primary">Profiles</button>
            <div class="dropdown-content">
                <a href="#" v-for="profile in profiles" v-on:click="genreColourGetAndShow(profile)">{{profile}}</a>
            </div>
        </div>
        <!--<button id="getAllButton" v-on:click="getAllProfiles" class="btn btn-primary">Profiles</button>
        <ul id="profilelist" v-if="profiles.length" id="getAllButton">
            <li v-for="profile in profiles" v-on:click="genreColourGetAndShow(profile)" class="btn btn-primary">
                {{profile}}
                </li>-->
            <ul>
                <li v-for="genreColour in genreColours" v-on:click="setActiveGenre(genreColour.genre)" class="btn btn-primary">
                    {{genreColour.genre}}: {{genreColour.colour}}
                    </li>
                </ul>

    <script src="js/setup.js"></script>
</body> 
</html>
